<ion-header>
  <ion-toolbar  color = "secondary">
    <ion-title>
      Ventana de confirmacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h5 text-center><b><u>Detalles del pedido</u></b></h5>
  <ion-list>
    <div *ngFor="let pedidos of pedidosArreglo">
        <ion-item>
            <p><b>Id:</b> {{id_doc}}</p>
        </ion-item>
        <ion-item>
            <p><b>Cliente:</b> {{pedidos.cliente}}</p>
        </ion-item>
        <ion-item>
            <p><b>Estado:</b> {{pedidos.estadoPedido}}</p>
        </ion-item>
      </div>
  </ion-list>
    
    <br>
  <ion-button (click)="updateEstado()" expand = "block" color = "primary">Confirmar entrega</ion-button>
</ion-content>

