<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons>
      <ion-icon name="arrow-dropleft-circle" (click)='desconectar()' class="iconoBoton" ></ion-icon>
      <ion-title text-center class="new-text-color">Datos personales</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-list>
    <div>
      <ion-item>
        <ion-img class="imagen" [src]="motoTaxisArreglo?.imagenMotoTaxi"></ion-img>
      </ion-item>
      <!--<ion-item >
        <ion-label>
          <h2><b>Id moto taxista:</b></h2>
          <h3>{{motoTaxisArreglo?.idMotoTaxi}}</h3>
        </ion-label>
      </ion-item>-->
      <ion-item>
        <ion-label>
          <h2><b>Nombre:</b></h2>
          <h3>{{motoTaxisArreglo?.nombreMotoTaxi}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2><b>Apellido:</b></h2>
          <h3>{{motoTaxisArreglo?.apellidoMotoTaxi}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2><b>Carnet de identidad:</b></h2>
          <h3>{{motoTaxisArreglo?.carnetIdentidadMotoTaxi}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2><b>Fecha de nacimiento:</b></h2>
          <h3>{{motoTaxisArreglo?.fechaNacimientoMotoTaxi}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2><b>Teléfono/Celular:</b></h2>
          <h3>{{motoTaxisArreglo?.telefonoMotoTaxi}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2><b>Número de placa:</b></h2>
          <h3>{{motoTaxisArreglo?.placaMotoTaxi}}</h3>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>