<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-icon name="arrow-dropleft-circle" (click)='volver()' class="iconoBoton" ></ion-icon>
          <ion-title text-center class="new-text-color">menu metamorfo</ion-title>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">titulo del poryecto </ion-label>
        <ion-input type="text"  [(ngModel)]="tituloproyecto" name="tituloproyecto" onkeyup="javascript:this.value=this.value.toUpperCase();"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">numero de proyecto</ion-label>
        <ion-input type="number"  [(ngModel)]="descripcion" name="descripcion"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Agregar descripcion 2</ion-label>
          <ion-toggle color="tertiary" [(ngModel)]="isToggled" (ionChange)="MandarUbicacion(isToggled)"></ion-toggle>
        </ion-item>
        
        <ion-item>
            <ion-label>agrgar descripcion 3</ion-label>
            <ion-checkbox>si</ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label>opciones</ion-label>
              <ion-select value="opcion1" okText="confirmar" cancelText="cancelar">
                <ion-select-option value="opcion1">opcion 1</ion-select-option>
                <ion-select-option value="opcion2">opcion 2</ion-select-option>
                <ion-select-option value="opcion3">opcion 3</ion-select-option>
                <ion-select-option value="opcion4">opcion 4</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button expand="block" color="secondary" (click)="desplegarloginchachas()">guardar</ion-button>
</ion-content>
