.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.iconoBoton{
    display: block;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    font-size: 32px;
    margin-right: 10px;
=======
    font-size: 40px;
    margin-left: 10px;
>>>>>>> parent of a28e4c6... borrando
    color: #ffffff;
}
.new-background-color{
    --background: #ffae00;
}

.new-text-color{
    --color: #ffffff;
}