.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.new-background-color{
    --background: #ffae00;
}

.new-text-color{
    --color: #ffffff;
}

.iconoBoton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-left: 10px;
    color: #ffffff;
}