<ion-header>
  <ion-toolbar>
    <ion-title>
pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="input1">
    <ion-label floating>
      <ion-icon name="ios-key"></ion-icon>nombre:</ion-label>
   </ion-item>
  <ion-item class="input1">
      <ion-label floating>
        <ion-icon name="ios-key"></ion-icon> apellido:</ion-label>
    </ion-item>
   <ion-item class="input1">
       <ion-label floating>
         <ion-icon name="ios-key"></ion-icon> nit:</ion-label>
    </ion-item>
   <ion-item class="input1">
       <ion-label floating>
          <ion-icon name="ios-key"></ion-icon> ubicacion:</ion-label>
    </ion-item>
   <ion-item class="input1">
       <ion-label floating>
          <ion-icon name="ios-key"></ion-icon> num casa/edificio:</ion-label>
    </ion-item>
   <ion-item class="input1">
       <ion-label floating>
          <ion-icon name="ios-key"></ion-icon> Num.Departamento:</ion-label>
    </ion-item>
   <ion-item class="input1">
       <ion-label floating>
          <ion-icon name="ios-key"></ion-icon> producto:</ion-label>
    </ion-item>
   <ion-item class="input1">
      <ion-label floating>
          <ion-icon name="ios-key"></ion-icon> cantidad:</ion-label>
    </ion-item>
   <ion-item class="input1">
       <ion-label floating>
         <ion-icon name="ios-key"></ion-icon> total:</ion-label>
    </ion-item>
</ion-content>
