<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons left>
      <ion-title class="new-text-color">Edición de registro</ion-title>
      <ion-button (click)='onCloseModal()' class="new-text-color">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img class="imagen" [src]="value.imagenMotoTaxi"></ion-img>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombreMotoTaxi" name="nombreMotoTaxi" onkeyup="javascript:this.value=this.value.toUpperCase();"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="apellidoMotoTaxi" name="apellidoMotoTaxi" onkeyup="javascript:this.value=this.value.toUpperCase();"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Carnet de Identidad</ion-label>
    <ion-input type="number" [(ngModel)]="carnetIdentidadMotoTaxi" name="carnetIdentidadMotoTaxi"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fecha de Nacimiento</ion-label>
    <ion-datetime display-format="D/MM/YYYY" picker-format="D MM YYYY" [(ngModel)]="fechaNacimientoMotoTaxi"
      name="fechaNacimientoMotoTaxi"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Teléfono/Celular </ion-label>
    <ion-input type="number" [(ngModel)]="telefonoMotoTaxi" name="telefonoMotoTaxi"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Placa del Vehículo </ion-label>
    <ion-input type="text" [(ngModel)]="placaMotoTaxi" name="placaMotoTaxi"></ion-input>
  </ion-item>
  <br>
  
  <ion-item>
    <img *ngIf="image" [src]="image" alt="image">
    </ion-item>
    
    <ion-icon name="camera" (click)="tomarFoto()" class="iconcamara"></ion-icon>
  <ion-button (click)="modificando()" expand="block" color="secondary">Modificar</ion-button>
</ion-content>