<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title text-center class="new-text-color">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="icon" src="assets/icon/C.ico" alt="">
<ion-item>
  <ion-label position="floating">email </ion-label>
  <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">contraseña </ion-label>
  <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
</ion-item>
<br>
<ion-button (click)="logear()" expand="block">Ingresar</ion-button>
</ion-content>
