<ion-content padding >

  <ion-tabs>
  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="ubicacion">
  <ion-icon name="home"></ion-icon>
  <ion-label>Ubicacion</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="datos">
    <ion-icon name="person"></ion-icon>
    <ion-label>Datos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="confir">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Confirmación</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
  </ion-content>